{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">Опубликовано {{ post.publish }} автором {{ post.author }}</p>
    {{ post.body|markdown }}
    {% if similar_posts %}
        <h2>Похожие посты</h2>
        {% for similar in similar_posts %}
            <p><a href="{{ similar.get_absolute_url }}">{{ similar.title }}</a></p>
            {% empty %}
            <p>Похожих статей нет.</p>
        {% endfor %}
    {% endif %}
    {% with comments.count as total_comments %}
        <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
        {% empty %}
            <p>Нет комментариев.</p>
    {% endfor %}
    {% if new_comment %}
        <h3>Комментарий добавлен.</h3>
    {% endif %}
    <h2>Добавить комментарий</h2>
    <form action="." method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Добавить комментарий"></p>
    </form>
{% endblock %}
